<!DOCTYPE html>
<html>
    <head>
        <style>
            .main_font{
                font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: whitesmoke;
                text-shadow: -1px -1px 0 black;

                text-align: center;
                }
            .landing_buttons{
                display: flex;
                justify-content: center;
                gap: 10px;
            }
        </style>

    </head>
    <body>
        <h1 class="main_font">
            The Mood Journal
        </h1>
        <div class="landing_buttons">
            <a href="{{url_for('login')}}">
                <button>
                    Login
                </button>
            </a>
            <a href="{{url_for('register')}}">
                <button>
                    Register
                </button>
    
            </a>
        </div>
        
    </body>
</html>